html{
    background: #e3e3e3; 
}

body{
    padding-top: 50px;
    padding-left: 60px;
}

header{
    text-align: center;
    background-color: black;
}

main{
    height: 600px;
}

img{
    margin-top: 5px;
    width: 600px;
}

button{
    margin-top: 20px;
}

footer{
    height: 200px;
    background-color: black;
    text-align: center;
}


