html{
    background: #e3e3e3; 
}

body{
    padding-top: 50px;
    padding-left: 60px;
}

header{
    text-align: center;
}

#pizza{
    height: 400px;
    width: 600px;
}

#imagenes{
    display: flex;
}

.pasos{
    height: 80px;
    width: 80px;
}

