body{
    padding: 0;
    background-image: "img/bg-register.jpg";
}

main{
    text-align: center;
    padding-top: 150px;
}

#formulario{
    width: 500px;
    height: 600px;
    background-color: plum;
}

form{
    padding-top: 20px;
    text-align: center;
}

.formato{
    height: 50px;
    width: 320px;
    padding-left: 10px;
    border-radius: 60px;
}

#registrar{
    background-color: #eca1a6;
}